
// Couleurs 
$colour-text: black;
$colour-border: black;


// // Police
$font-texte:'Roboto Regular', Arial, "Arial Black", "Comic Sans MS","Times New Roman", "Trebuchet MS";
$font-titre:'Roboto Bold', Arial, "Arial Black", "Comic Sans MS","Times New Roman", "Trebuchet MS";
$font-sous-titre:'Roboto Thin', Arial, "Arial Black", "Comic Sans MS","Times New Roman", "Trebuchet MS";











