header {
  position: fixed;
  z-index: 99;
}

nav {
  height: 110px;
  border-bottom: 1px solid;
  font-family: $font-texte;
  background-color: white;
}

#navbarSupportedContent {
  justify-content: flex-end;
}

.navbar-light .navbar-toggler {
  color: $colour-border !important;
  border-color: $colour-border !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.05rem !important;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 7em;
  align-content: center;
}
