//Media-queries
@media (max-width: 991px) {
  nav {
    height: auto;
    margin-top: -25px;
  }
  .slide-in-top-first {
    animation: none;
  }
  .slide-in-top-second {
    animation: none;
  }
  .slide-in-top-third {
    animation: none;
  }

  .link-index {
    animation: slide-in-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .link-basket {
    animation: slide-in-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .link-order {
    animation: slide-in-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .section-title {
    padding-top: 12rem;
  }

  #camera-item {
    width: 90%;
  }
  #camera-lense {
    font-size: 14px;
  }
  .fa-arrow-left {
    margin-left: 2rem;
  }

  .main-order {
    margin-bottom: 0rem;
  }
  .main-basket {
    margin-bottom: 12rem;
  }
}

@media (max-width: 767px) {
  .background-image-camera {
    height: 300px;
  }
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 100% !important;
  }
}

@media (max-width: 575px) {
  #camera-list {
    padding: 0 !important;
  }

  #camera-lense {
    border: $border $colour-border !important;
    border-radius: 0.25rem !important;
  }
  .input-group-text,
  #inputGroupSelect01,
  .camera-quantity-selector {
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0.25rem 0.25rem 0rem 0rem !important;
  }
  #inputGroupSelect01 {
    border-left: 1px solid #000 !important;
    border-radius: 0 !important;
    padding-left: 6rem;
  }
  .camera-quantity-selector {
    display: initial;
  }
  .fa-arrow-left {
    margin-left: 1.5rem;
  }
}

@media (max-width: 425px) {
  .portfolio {
    padding: 0 !important;
  }

  .background-image-product {
    height: 250px;
  }
  #inputGroupSelect01 {
    padding-left: 5rem;
  }
  .background-image-camera {
    height: 200px;
  }
  #camera-infos {
    padding: 1rem 4rem 1rem 4rem;
  }
}

@media (max-width: 380px) {
  #inputGroupSelect01 {
    padding-left: 3rem;
  }
  .fa-arrow-left {
    margin-left: 0.5rem;
  }

  .main-basket {
    margin-bottom: 11rem;
  }
}
